* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6ecf0;
  font-family: 'Source Sans Pro';
}

main {
  margin: 20px auto;
  width: 90%;
  height: auto;
}

img {
  width: 290px;
  height: 90px;
}

.box-user {
  margin: 5px;
  float: left;
  width: 290px;
  height: 200px;
}

.box-tweet {
  margin: 5px;
  float: left;
  width: 593px;
  height: auto;
  background-color: #e8f5fd;
}

.box-suger {
  margin: 5px;
  float: left;
  width: 280px;
  height: 350px;
}

.style-box {
  background-color: white;
}

textarea {
  width: 500px;
  margin: 15px 20px 5px;
  border: 2px solid #a4d9f9;
  border-radius: 8px;
  outline: none;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  resize: none;
}

button {
  width: 88px;
  height: 34px;
  border: none;
  background-color: #50b6f5;
  margin: 1px 12px 12px 21px;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.new-tweet {
  width: 593px;
  height: auto;
  margin-top: 10px;
  background-color: white;
}

span {
  font-size: 20px;
  font-weight: 700;
}
